# This workflow will install Octave and run a demo

name: Octave application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y octave
    - name: Run demo
      run: |
        cd code
        octave demo_dtw.m
